[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"boto3" = "*"
botocore = "*"
click = "*"
docutils = "*"
Flask = "*"
github-webhook = "*"
itsdangerous ="*"
"Jinja2" = "*"
jmespath = "*"
MarkupSafe = "*"
python-dateutil ="*"
s3transfer = "*"
six = "*"
Werkzeug = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.6"